<%- include('./wireframesHeader'); %>
	
	<div class="body-wrapper">
		<center><h1><%= currentCat.id %></h1></center>
		<center><p>Welcome to <%= currentCat.id %></p></center>
		<center><span class="bodyNotifier">I'm an index.ejs</span></center>
	</div>

<%- include('./wireframesFooter'); %>